server {
    listen *:80;
    server_name {{ subdomains | join(" ") }};
    return 301 https://{{ domain }}$request_uri;
}

server {
    listen *:80;
    server_name {{ domain }};

    include includes.d/php-fpm.conf;

    location ~ ^/ {
        if (-f $request_filename) {
            break;
        }
      
        if (!-e $request_filename) {
            rewrite ^(.+)$ /index.php$1 last;
            break;
        }
    }

    index index.php index.html;
    root "{{ webroot }}";
}
