[ssh_connection]
ssh_args = -o ForwardAgent=Yes -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=15m -o PreferredAuthentications=publickey
pipelining=True
